*{
    box-sizing: border-box;
    margin: 10px;
    align-items: baseline;
    
   
}

.pai-dos-filhos{
    display: flex;
    flex-direction: row;
    gap: 10px;  
    align-items: baseline;
    background-color: aquamarine;
    justify-content: space-between;
}

.pai-dos-filhos .filho1, .filho2, .filho3, .filho4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.pai-dos-filhos .filho1 .dados1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
    
